## This python file read contribution and application files and normalize them
#####  Into two unique files one for contributions and one for applications
- df_contribution_normalized.csv
- df_application_normalized.csv
The data is cleaned and standardized to be easily accessible,

 it also creates a unique_ctbt_address.csv giving all unique addresses participating in a grant

Required inputs are the grant folder inside a data folder as available on github

In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import sys

In [2]:
absolute_path = os.fspath(Path.cwd().parent)
if absolute_path not in sys.path:
    sys.path.append(absolute_path)

In [3]:
# import data 
df_fantom_votes = pd.read_csv('../data/grants/Fantom/fantom_grant_votes.csv')
df_unicef_votes = pd.read_csv('../data/grants/UNICEF/unicef_grant_votes.csv')
df_gr15_votes = pd.read_csv('../data/grants/GR15/GR15_contributions.csv')
df_oss_votes = pd.read_csv('../data/grants/oss/oss_grant_votes.csv')
df_climate_votes = pd.read_csv('../data/grants/Climate/climate_grant_votes.csv')
df_ethereum_votes = pd.read_csv('../data/grants/Ethereum/ethereum_grant_votes.csv')
df_fantom_votes['project_round'] = "FANTOM"
df_unicef_votes['project_round'] = "UNICEF"
df_gr15_votes['project_round'] = "GR15"
df_oss_votes['project_round'] = "OSS"
df_climate_votes['project_round'] = "CLIMATE"
df_ethereum_votes['project_round'] = "ETHEREUM"

In [4]:
# import grant data
df_fantom_applications = pd.read_csv('../data/grants/Fantom/fantom_grant_applications.csv')
df_unicef_applications = pd.read_csv('../data/grants/UNICEF/unicef_grant_applications.csv')
df_oss_applications = pd.read_csv('../data/grants/oss/oss_grant_applications.csv')
df_climate_applications = pd.read_csv('../data/grants/Climate/climate_grant_applications.csv')
df_ethereum_applications = pd.read_csv('../data/grants/Ethereum/ethereum_grant_applications.csv')
df_gr15_applications = pd.read_json('../data/grants/GR15/GR15_grants_applications.json').T
df_fantom_applications['project_round'] = "FANTOM"
df_unicef_applications['project_round'] = "UNICEF"
df_gr15_applications['project_round'] = "GR15"
df_oss_applications['project_round'] = "OSS"
df_climate_applications['project_round'] = "CLIMATE"
df_ethereum_applications['project_round'] = "ETHEREUM"

## DF votes exploration

In [5]:
print(df_fantom_votes.shape)
print(df_unicef_votes.shape)
print(df_gr15_votes.shape)
print(df_oss_votes.shape)
print(df_climate_votes.shape)
print(df_ethereum_votes.shape)

(139337, 7)
(64180, 7)
(453870, 11)
(50579, 7)
(8556, 7)
(10034, 7)

In [6]:
df_fantom_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,113dRUPwQJ9tTfeqeMRq2Mn8kfYrNyakTPdEhqFkVSe,FTM,1.0,0x06cd8288dc001024ce0a1cf39caaedc0e2db9c82,0xe126b3e5d052f1f575828f61feba4f4f2603652a,2022-12-24 16:26:49,FANTOM
1,11n4hU8NKy7gr5oBqJ1AeEyBKV7L47JGLpbrskoDBcf,FTM,4.9,0x9be7d88cfd6e4b519cd9720db6de6e6f2c1ca77e,0x7d658841f8ba93299970f6e765c2ce205f1e70dd,2022-12-22 13:09:47,FANTOM

In [7]:
df_fantom_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [8]:
print(df_fantom_votes.token.unique())

['FTM' 'DAI' 'WFTM' 'BUSD']

In [9]:
df_unicef_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,11f159yjRryCZgNBebpqaa8FUCpApzNtkW2SBpY9EQL,ETH,0.00100,0xe95ab07a55e8489fe8e81e3281c8b3fd95c7d8af,0xd27e1a1a60ebc1b70f4cae5265092c0f6edc7f9d,2022-12-17 14:37:47,UNICEF
1,121Bu9DQH2XYZRmpc4MBME9u31VbztuffyzZawSHyx5W,ETH,0.00085,0x7d1ef741c40ddffdd4f19549d42fed9a0193f8ea,0x39d77e51c485f1ff65b1b3b42e9f67cda221f597,2022-12-19 18:02:59,UNICEF

In [10]:
df_unicef_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [11]:
df_unicef_votes.token.unique()

array(['ETH', 'DAI'], dtype=object)

In [12]:
df_gr15_votes.head(2)

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
0,0x76f69dcddd0593b0aff5fd3280c3433ddb68e0d2,12,eth_std,0.064183,0.00005,ETH,0.00005,NaN,2022-09-22 23:59:57.030620+00:00,2022-09-23 00:12:56.621368+00:00,GR15
1,0x76f69dcddd0593b0aff5fd3280c3433ddb68e0d2,6972,eth_std,1.283650,0.00100,ETH,0.00100,NaN,2022-09-22 23:59:55.773190+00:00,2022-09-23 00:12:57.306838+00:00,GR15

In [13]:
df_gr15_votes.isna().sum()

address                           0
grant_id                          0
checkout_type                     7
amount_in_usdt                    0
raw_amount_in_token               0
token                             0
amount_in_token_minus_gas         0
tx_id                        397128
created_on                        0
modified_on                       0
project_round                     0
dtype: int64

In [14]:
#explore checkout_type nan
df_gr15_votes[df_gr15_votes.checkout_type.isna()]

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
155250,BMH7FDFVIXRZ2TD47SNOBYDIX3FSBIEMEYNIMG5SEIEKZ4...,5463,NaN,1.701859,5.000,ALGO,5.000,7UCBSZPNBHCI4MNAKDYZUF3NDYVYYND6C5522Y7SJJAEMJ...,2022-09-20 07:51:29.255929+00:00,2022-10-17 07:08:55.933010+00:00,GR15
194296,0x48EEB331Dd43445f320A22B69D623D661060936f,7174,NaN,1.362249,0.005,BNB,0.005,0x6aa8595f953d4352bfb881f06cd24c039b861867c74d...,2022-09-18 22:23:25.648282+00:00,2022-10-17 07:09:39.596498+00:00,GR15
347722,0x1D19dA85322C5F14201bE546c326E0e6f521B6E6,7174,NaN,1.094703,1.100,BUSD,1.100,0x264301a6263228cb53387715eee3c2d9f4baba3bd47f...,2022-09-12 14:41:47.938790+00:00,2022-10-17 07:15:00.389734+00:00,GR15
415511,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.618998,5.000,ALGO,5.000,Z2BEUJXLH3QTPW2DE4L3JSB3MWWYXJCOLJMFWEDHF6YLC3...,2022-09-10 07:01:12.754252+00:00,2022-10-17 07:17:06.559463+00:00,GR15
420285,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.601518,5.000,ALGO,5.000,EF6JHLPKJNYEDW5LB6HWCGF44MSXTJXEEQNRHBZK3QFGDN...,2022-09-09 19:20:56.063986+00:00,2022-10-17 07:17:31.408176+00:00,GR15
421580,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.596899,5.000,ALGO,5.000,WNEYGXR3Z6JXCN3ZWACYZP5BFNXWJTFFYSEVAETLUGJQQG...,2022-09-09 16:20:31.731115+00:00,2022-10-17 07:17:34.907060+00:00,GR15
443451,0xFFA17Ef7e40430C19ADcb15fA7E20B52C205DEc6,7159,NaN,1.002239,1.000,BUSD,1.000,0x132130a01d6974303cd480abe0f50d9bcfebc53421a6...,2022-09-08 08:15:41.381586+00:00,2022-10-17 07:18:27.043473+00:00,GR15

In [15]:
df_gr15_votes[df_gr15_votes.token == 'ALGO']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
155250,BMH7FDFVIXRZ2TD47SNOBYDIX3FSBIEMEYNIMG5SEIEKZ4...,5463,NaN,1.701859,5.0,ALGO,5.0,7UCBSZPNBHCI4MNAKDYZUF3NDYVYYND6C5522Y7SJJAEMJ...,2022-09-20 07:51:29.255929+00:00,2022-10-17 07:08:55.933010+00:00,GR15
415511,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.618998,5.0,ALGO,5.0,Z2BEUJXLH3QTPW2DE4L3JSB3MWWYXJCOLJMFWEDHF6YLC3...,2022-09-10 07:01:12.754252+00:00,2022-10-17 07:17:06.559463+00:00,GR15
420285,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.601518,5.0,ALGO,5.0,EF6JHLPKJNYEDW5LB6HWCGF44MSXTJXEEQNRHBZK3QFGDN...,2022-09-09 19:20:56.063986+00:00,2022-10-17 07:17:31.408176+00:00,GR15
421580,QJE3BOSZDA46IWLNOPQKML73GR7OCIOM66Y7VPSUOFVNP2...,5404,NaN,1.596899,5.0,ALGO,5.0,WNEYGXR3Z6JXCN3ZWACYZP5BFNXWJTFFYSEVAETLUGJQQG...,2022-09-09 16:20:31.731115+00:00,2022-10-17 07:17:34.907060+00:00,GR15

In [16]:
df_gr15_votes[df_gr15_votes.token == 'BUSD']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
347722,0x1D19dA85322C5F14201bE546c326E0e6f521B6E6,7174,NaN,1.094703,1.1,BUSD,1.1,0x264301a6263228cb53387715eee3c2d9f4baba3bd47f...,2022-09-12 14:41:47.938790+00:00,2022-10-17 07:15:00.389734+00:00,GR15
443451,0xFFA17Ef7e40430C19ADcb15fA7E20B52C205DEc6,7159,NaN,1.002239,1.0,BUSD,1.0,0x132130a01d6974303cd480abe0f50d9bcfebc53421a6...,2022-09-08 08:15:41.381586+00:00,2022-10-17 07:18:27.043473+00:00,GR15

In [17]:
df_gr15_votes[df_gr15_votes.token == 'BNB']

,address,grant_id,checkout_type,amount_in_usdt,raw_amount_in_token,token,amount_in_token_minus_gas,tx_id,created_on,modified_on,project_round
194296,0x48EEB331Dd43445f320A22B69D623D661060936f,7174,NaN,1.362249,0.005,BNB,0.005,0x6aa8595f953d4352bfb881f06cd24c039b861867c74d...,2022-09-18 22:23:25.648282+00:00,2022-10-17 07:09:39.596498+00:00,GR15

Those transactions look to have been performed by mistake or it may be by unexperienced users that have sent a predifined amount of token to that address because someone told them to do so
They have not been through the normal process that is why they don't have checkout_type and therefore they could be attackers
For or analysis we don't remove them to be able to flag those grants as suspect.

In [18]:
df_gr15_votes.token.unique()

array(['ETH', 'MATIC', 'DAI', 'USDC', 'USDT', 'PAN', 'FRAX', 'WETH',
       '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD', 'LINK', 'UNI', 'ZRX',
       'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED', 'BZZ', 'LPT', 'ALGO',
       'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ', 'CELO', 'BUSD', 'cUSD',
       'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In [19]:
df_oss_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,122jFcgBDgXR2oKHUC2oL5jpFTytQccwqf8g9bU45YVV,DAI,2.000000,0x6d090246fb2dbadfc9d9784705a415014c96876a,0xe126b3e5d052f1f575828f61feba4f4f2603652a,2023-01-24 02:44:23,OSS
1,125ugmdvNGpacunT8jxkg9HUrckjFdXho3MFB2LxCYXi,ETH,0.001326,0x665caad23417d378c4abca024bf57e65d2196c95,0x08a3c2a819e3de7aca384c798269b3ce1cd0e437,2023-01-22 16:36:35,OSS

In [20]:
df_oss_votes.token.unique()

array(['DAI', 'ETH'], dtype=object)

In [21]:
df_oss_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [22]:
df_climate_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,12cDXga8oWiZnUUvJQFv8UHKv2usKZEefzRK5Kdh84Mq,DAI,2.0,0x5c7291e18c3ecf30e14ccf1dcd646c0ca3309113,0x14cb60f6aca2b2a68d975743bacb33f01f587da5,2023-01-18 04:51:47,CLIMATE
1,12ENyxjNMPS9z9Dqn6R87irGkQghdepkSpBzcuRoHX8R,DAI,1.1,0x30aee7a692427143ba7e65efb7db35d360a0ac51,0xe07b0f3c2a669b656476e4d6a054f4922d539d3d,2023-01-19 09:42:47,CLIMATE

In [23]:
df_climate_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [24]:
df_climate_votes.token.unique()

array(['DAI', 'ETH'], dtype=object)

In [25]:
df_ethereum_votes.head(2)

,id,token,amount,source_wallet,destination_wallet,created_at,project_round
0,12RJyog39pG6nGrSK7rrqo9iBALyqqZt1jzdedjpxTRo,ETH,0.0007,0x0a860ab1098d2d0f16e58e4b4e58e39229391928,0x08a3c2a819e3de7aca384c798269b3ce1cd0e437,2023-01-22 14:17:59,ETHEREUM
1,12SF5LPA8SMckzWBDVoLKx1v8JgtFucPCWhwrDvAbqqQ,ETH,0.0010,0xebbb623fc70bd37df61e369daf1285f8671bc404,0xc9a872868afa68ba937f65a1c5b4b252dab15d85,2023-01-25 02:28:11,ETHEREUM

In [26]:
df_ethereum_votes.isna().sum()

id                    0
token                 0
amount                0
source_wallet         0
destination_wallet    0
created_at            0
project_round         0
dtype: int64

In [27]:
df_ethereum_votes.token.unique()

array(['ETH', 'DAI'], dtype=object)

In gr15 the amount of the contribution is provided but it is not in both other data set as it is a relevant information to know the value in USD of the donation we will have to retrieve the exchange rate from flipside crypto for these token and dates

In [28]:
print(df_fantom_votes.created_at.min())
print(df_unicef_votes.created_at.min())
print(df_fantom_votes.created_at.max())
print(df_unicef_votes.created_at.max())

2022-12-12 13:07:49
2022-12-09 09:56:11
2023-01-01 23:59:55
2022-12-21 05:59:23

The exchange rate in USD needs to be retrieved from 2022-12-12 to 2023-01-01 ie the weeks of grant rounds
for the tokens : **ETH FTM**
Stable coin will be considered to have a stable value in USD and WFTM stable to FTM

### Df_applications exploration

In [29]:
df_fantom_applications.isna().sum()

id                                   0
project                              0
status                               0
created_at                           0
updated_at                           0
application_round                    0
wallet_address                       0
last_updated                         0
project_id                           0
title                                0
description                          0
website                              0
github_user                         61
project_github                      65
project_twitter                      7
previous_funding                     0
team_size                            0
live_on_other_chains                 0
project_value                        0
improvements_to_existing_project    73
project_round                        0
dtype: int64

In [30]:
df_unicef_applications.isna().sum()

id                   0
project              0
status               0
created_at           0
updated_at           0
application_round    1
wallet_address       1
last_updated         1
project_id           1
title                1
description          1
website              1
project_github       3
project_twitter      2
github_user          7
project_round        0
dtype: int64

In [31]:
df_unicef_applications[df_unicef_applications['wallet_address'].isna()]

,id,project,status,created_at,updated_at,application_round,wallet_address,last_updated,project_id,title,description,website,project_github,project_twitter,github_user,project_round
9,0xc8fca067d1ecb57b625e640263d153190fe1258c34e8...,0xc8fca067d1ecb57b625e640263d153190fe1258c34e8...,PENDING,2022-12-09 01:18:23,2022-12-09 01:18:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNICEF

In [32]:
df_unicef_applications[df_unicef_applications['wallet_address'].isna()].iloc[0,0]

'0xc8fca067d1ecb57b625e640263d153190fe1258c34e8a4ae85396fe502fd6164-0xdf75054cd67217aee44b4f9e4ebc651c00330938'

0xdf75054cd67217aee44b4f9e4ebc651c00330938

In [33]:
# find the address in df_unicef_votes.destination_wallet.unique() that is not in df_unicef_applications.wallet_address.unique()
for address in df_unicef_votes.destination_wallet.unique():
    if address not in df_unicef_applications.wallet_address.unique():
        print(address)

0x8ddfa84bbf59c0e6dbd05a56e9b9931b64255f08

We deduce that there is a match between that address and the destination wallet and the grant project without wallet_addres and assigned it to thet projecct
Other values could also be updated using on chain data

In [34]:
df_unicef_applications.loc[df_unicef_applications['wallet_address'].isna(), 'wallet_address'] = '0x8ddfa84bbf59c0e6dbd05a56e9b9931b64255f08'

In [35]:
#check if we assigned the value 
df_unicef_applications['wallet_address'].isna().sum()

0

In [36]:
df_gr15_applications.isna().sum()

grant_id         0
active           0
approved         0
address          0
title            0
url              0
description      2
created_on       0
project_round    0
dtype: int64

In [37]:
df_oss_applications.isna().sum()

id                             0
project                        0
status                         0
created_at                     0
updated_at                     0
application_round              0
wallet_address                 0
last_updated                   0
project_id                     0
title                          0
description                    0
website                        0
github_user                   28
project_github                44
project_twitter                6
previous_funding               1
team_size                      0
verified_twitter_or_github     2
links_to_github_or_org         0
project_round                  0
dtype: int64

In [38]:
df_ethereum_applications.isna().sum()

id                            0
project                       0
status                        0
created_at                    0
updated_at                    0
application_round             0
wallet_address                0
last_updated                  0
project_id                    0
title                         0
description                   0
website                       0
github_user                   7
project_twitter               0
previous_funding              2
team_size                     0
verified_twitter_or_github    0
project_github                6
project_round                 0
dtype: int64

In [39]:
df_climate_applications.isna().sum()

id                    0
project               0
status                0
created_at            0
updated_at            0
application_round     0
wallet_address        0
last_updated          0
project_id            0
title                 0
description           0
website               0
github_user          27
project_twitter      10
previous_funding      0
team_size             0
project_github       36
project_round         0
dtype: int64

Drop number columns

df_oss_applications.drop(labels=['1', '2', '3', '4'], axis=1, inplace=True)
df_ethereum_applications.drop(labels=['1', '2', '3'], axis=1, inplace=True)
df_climate_applications.drop(labels=['1', '2'], axis=1, inplace=True)

### Normalize columns before concatenating the data

In [40]:
dict_mapping_ctbt = {
'project_round': 'project_round',
'id': 'ctbt_id',
'grant_id': 'ctbt_id',
'source_wallet':'ctbt_address',
'address':'ctbt_address',
'token':'ctbt_token',
'amount':'ctbt_amount',
'amount_in_token_minus_gas':'ctbt_amount',
'destination_wallet':'project_address',
'created_at':'ctbt_timestamp',
'timestamp':'ctbt_timestamp',
'created_on':'ctbt_timestamp',
'amount_in_usdt':'ctbt_amount_in_usd',
'network':'ctbt_network',
'txn_hash':'ctbt_tx_hash',
'tx_id':'ctbt_tx_hash',
'chain':'ctbt_chain',
'txn_id':'ctbt_txn_id',
'modified_on':'ctbt_modified_on',
'checkout_type ':'ctbt_checkout_type',
'raw_amount_in_token ':'ctbt_raw_amount_in_token'
}

In [41]:
df_gr15_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_fantom_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_unicef_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_oss_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_ethereum_votes.rename(columns=dict_mapping_ctbt, inplace=True)
df_climate_votes.rename(columns=dict_mapping_ctbt, inplace=True)

In [42]:
df_gr15_votes.columns

Index(['ctbt_address', 'ctbt_id', 'checkout_type', 'ctbt_amount_in_usd',
       'raw_amount_in_token', 'ctbt_token', 'ctbt_amount', 'ctbt_tx_hash',
       'ctbt_timestamp', 'ctbt_modified_on', 'project_round'],
      dtype='object')

In [43]:
df_fantom_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

In [44]:
df_unicef_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

In [45]:
df_oss_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

In [46]:
df_climate_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

In [47]:
df_climate_votes.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round'],
      dtype='object')

#### Concatenate contribution data

In [48]:
df_contribution = pd.concat([df_fantom_votes, df_unicef_votes, df_gr15_votes, df_climate_votes, df_ethereum_votes, df_oss_votes], axis=0)
df_contribution.head(2)

,ctbt_id,ctbt_token,ctbt_amount,ctbt_address,project_address,ctbt_timestamp,project_round,checkout_type,ctbt_amount_in_usd,raw_amount_in_token,ctbt_tx_hash,ctbt_modified_on
0,113dRUPwQJ9tTfeqeMRq2Mn8kfYrNyakTPdEhqFkVSe,FTM,1.0,0x06cd8288dc001024ce0a1cf39caaedc0e2db9c82,0xe126b3e5d052f1f575828f61feba4f4f2603652a,2022-12-24 16:26:49,FANTOM,NaN,NaN,NaN,NaN,NaN
1,11n4hU8NKy7gr5oBqJ1AeEyBKV7L47JGLpbrskoDBcf,FTM,4.9,0x9be7d88cfd6e4b519cd9720db6de6e6f2c1ca77e,0x7d658841f8ba93299970f6e765c2ce205f1e70dd,2022-12-22 13:09:47,FANTOM,NaN,NaN,NaN,NaN,NaN

Use price feed to get amount in usd

In [49]:
from sbscorer.flipside.FlipsideApi import FlipsideApi

In [50]:
api_key = os.environ['FLIPSIDE_API_KEY']
flipside_api = FlipsideApi(api_key)
sql = flipside_api.get_price_feed_eth_ftm_sql_query()
df_price_feed = flipside_api.execute_query(sql)

In [51]:
df_price_feed.head(2)

       id            recorded_hour      open
0  fantom  2023-01-29 00:00:00.000  0.445554
1  fantom  2023-01-28 23:00:00.000  0.447577

In [52]:
df_price_feed['recorded_hour'] = pd.to_datetime(df_price_feed.recorded_hour).dt.round('H')

In [53]:
df_price_feed.replace('ethereum','ETH',inplace=True)
df_price_feed.replace('fantom','FTM', inplace=True)

In [54]:
df_contribution.ctbt_token.unique()

array(['FTM', 'DAI', 'WFTM', 'BUSD', 'ETH', 'MATIC', 'USDC', 'USDT',
       'PAN', 'FRAX', 'WETH', '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD',
       'LINK', 'UNI', 'ZRX', 'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED',
       'BZZ', 'LPT', 'ALGO', 'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ',
       'CELO', 'cUSD', 'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In [55]:
df_contribution.replace('WFTM', 'FTM', inplace=True)
df_contribution.replace('WETH', 'ETH', inplace=True)

In [56]:
df_contribution.ctbt_token.unique()

array(['FTM', 'DAI', 'BUSD', 'ETH', 'MATIC', 'USDC', 'USDT', 'PAN',
       'FRAX', '1INCH', 'APE', 'sUSD', 'WBTC', 'OUSD', 'LINK', 'UNI',
       'ZRX', 'UBI', 'MANA', 'BAT', 'RAI', 'SUSHI', 'SEED', 'BZZ', 'LPT',
       'ALGO', 'BOBA', 'BADGER', 'BNB', 'BAL', 'STORJ', 'CELO', 'cUSD',
       'COMP', 'BICO', 'GRT', 'SNX', 'PERP'], dtype=object)

In [57]:
index_to_convert = np.logical_and(np.logical_or(df_contribution.ctbt_token == 'FTM', df_contribution.ctbt_token == 'ETH'), df_contribution.ctbt_amount_in_usd.isna())

In [58]:
slice = df_contribution.loc[index_to_convert, ['ctbt_amount', 'ctbt_token', 'ctbt_timestamp']]
slice['recorded_hour'] = pd.to_datetime(slice.ctbt_timestamp).dt.round('H')
slice = slice.merge(df_price_feed, how='left', left_on=['ctbt_token', 'recorded_hour'], right_on=['id', 'recorded_hour'])
slice

,ctbt_amount,ctbt_token,ctbt_timestamp,recorded_hour,id,open
0,1.00000,FTM,2022-12-24 16:26:49,2022-12-24 16:00:00,FTM,0.203939
1,4.90000,FTM,2022-12-22 13:09:47,2022-12-22 13:00:00,FTM,0.203279
2,1.00000,FTM,2022-12-20 19:27:19,2022-12-20 19:00:00,FTM,0.202060
3,0.29000,FTM,2023-01-01 18:47:30,2023-01-01 19:00:00,FTM,0.201094
4,2.84430,FTM,2022-12-17 10:39:55,2022-12-17 11:00:00,FTM,0.207230
...,...,...,...,...,...,...
245925,0.00065,ETH,2023-01-22 04:32:35,2023-01-22 05:00:00,ETH,1624.340000
245926,0.00700,ETH,2023-01-22 07:53:23,2023-01-22 08:00:00,ETH,1629.850000
245927,0.00125,ETH,2023-01-24 13:01:23,2023-01-24 13:00:00,ETH,1625.670000
245928,0.00110,ETH,2023-01-18 09:21:59,2023-01-18 09:00:00,ETH,1578.270000
245929,0.00064,ETH,2023-01-18 07:02:47,2023-01-18 07:00:00,ETH,1585.120000

In [59]:
df_contribution.loc[index_to_convert, 'ctbt_amount_in_usd'] =  slice.ctbt_amount * slice.open

In [60]:
df_contribution[df_contribution.ctbt_amount_in_usd.isna()].ctbt_token.unique()

array(['DAI', 'BUSD'], dtype=object)

Infer contribution amout_in_usd when a stable coin was used as token

In [61]:
df_contribution.loc[np.logical_or(df_contribution.ctbt_token == 'DAI', df_contribution.ctbt_token == 'BUSD'), 'ctbt_amount_in_usd'] = df_contribution.loc[np.logical_or(df_contribution.ctbt_token == 'DAI', df_contribution.ctbt_token == 'BUSD'), 'ctbt_amount']

In [62]:
df_contribution.ctbt_amount_in_usd.isna().sum()

0

In [63]:
df_contribution.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round', 'checkout_type',
       'ctbt_amount_in_usd', 'raw_amount_in_token', 'ctbt_tx_hash',
       'ctbt_modified_on'],
      dtype='object')

#### Export contribution data and unique contributor addresses

In [64]:
df_contribution.to_csv('../data/grants/df_contribution_normalized.csv', index=False)

In [65]:
df_contribution.ctbt_address.nunique()

79765

In [66]:
for round in df_contribution.project_round.unique():
    df_round = df_contribution[df_contribution.project_round == round]
    pd.DataFrame(df_round.ctbt_address.unique(), columns=['address']).to_csv(f'../data/grants/df_contribution_address_{round}.csv', index=False)

In [67]:
pd.DataFrame(df_contribution.ctbt_address.unique(), columns=['address']).to_csv('../data/grants/unique_ctbt_address.csv', index=False)

In [68]:
df_round_new_round = df_contribution[np.logical_or(np.logical_or(df_contribution.project_round == "OSS", df_contribution.project_round =="CLIMATE"), df_contribution.project_round =="ETHEREUM") ]
pd.DataFrame(df_round_new_round.ctbt_address.unique(), columns=['address']).to_csv(f'../data/grants/df_new_round_address.csv', index=False)

## Project Data

In [69]:
dict_mapping_project = {
'id' : 'grant_id',
'grant_id' : 'grant_id',
'project' : 'project_long_id',
'project_id' : 'project_contract_id',
'status' : 'project_status',
'updated_at' : 'project_last_modify',
'last_updated' : 'project_last_update',
'created_on' : 'project_created_at',
'created_at' : 'project_created_at',
'application_round' : 'project_application_round',
'wallet_address' : 'project_address',
'address' : 'project_address',
'title' : 'project_title',
'description' : 'project_decription',
'url' : 'project_website',
'website' : 'project_website',
'github_user' : 'project_github_user',
'project_github' : 'project_github',
'github_project_url' : 'project_github',
'project_twitter' : 'project_twitter',
'twitter_handle_1' : 'project_twitter',
'previous_funding' : 'project_previous_funding',
'team_size' : 'project_team_size',
'live_other_chains' : 'project_live_other_chains',
'project_value' : 'project_value',
'improvements_to_existing_project' : 'project_improvements_to_existing',
'active' : 'project_active_grant',
'amount_received' : 'project_amount_received',
'amount_received_in_round' : 'project_received_in_round',
'contribution_count' : 'project_contribution_count',
'contributor_count' : 'project_contributor_count',
'twitter_handle_2' : 'project_twitter_verified',
'approved' : 'project_approved',
'previous_funding' : 'project_funding_source',
'team_size' : 'project_team_size',
'verified_twitter_or_github' : 'project_github_twitter_credential',
'links_to_github_or_org' : 'project_github_org_link'
}

In [70]:
df_gr15_applications.rename(columns=dict_mapping_project, inplace=True)
df_fantom_applications.rename(columns=dict_mapping_project, inplace=True)
df_unicef_applications.rename(columns=dict_mapping_project, inplace=True)
df_oss_applications.rename(columns=dict_mapping_project, inplace=True)
df_climate_applications.rename(columns=dict_mapping_project, inplace=True)
df_ethereum_applications.rename(columns=dict_mapping_project, inplace=True)
df_gr15_applications.columns

Index(['grant_id', 'project_active_grant', 'project_approved',
       'project_address', 'project_title', 'project_website',
       'project_decription', 'project_created_at', 'project_round'],
      dtype='object')

In [71]:
df_fantom_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_github', 'project_twitter', 'project_funding_source',
       'project_team_size', 'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_round'],
      dtype='object')

In [72]:
df_unicef_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github',
       'project_twitter', 'project_github_user', 'project_round'],
      dtype='object')

In [73]:
df_climate_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_twitter', 'project_funding_source', 'project_team_size',
       'project_github', 'project_round'],
      dtype='object')

In [74]:
df_ethereum_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_twitter', 'project_funding_source', 'project_team_size',
       'project_github_twitter_credential', 'project_github', 'project_round'],
      dtype='object')

In [75]:
df_climate_applications.columns

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_twitter', 'project_funding_source', 'project_team_size',
       'project_github', 'project_round'],
      dtype='object')

we can merge on the wallet_address and destination address the fantom and unicef csv

In [76]:
df_fantom_applications.index

RangeIndex(start=0, stop=107, step=1)

In [77]:
print(df_fantom_applications.shape)
df_fantom_applications.columns

(107, 21)

Index(['grant_id', 'project_long_id', 'project_status', 'project_created_at',
       'project_last_modify', 'project_application_round', 'project_address',
       'project_last_update', 'project_contract_id', 'project_title',
       'project_decription', 'project_website', 'project_github_user',
       'project_github', 'project_twitter', 'project_funding_source',
       'project_team_size', 'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_round'],
      dtype='object')

In [78]:
df_application = pd.concat([df_gr15_applications, df_fantom_applications, df_unicef_applications, df_climate_applications, df_ethereum_applications, df_oss_applications], axis=0)

C:\Users\DELL Admin\AppData\Local\Temp\ipykernel_17912\1969439177.py:1: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_application = pd.concat([df_gr15_applications, df_fantom_applications, df_unicef_applications, df_climate_applications, df_ethereum_applications, df_oss_applications], axis=0)

In [79]:
df_gr15_applications.columns.append(df_fantom_applications.columns).append(df_unicef_applications.columns).append(df_climate_applications.columns).append(df_ethereum_applications.columns).append(df_oss_applications.columns).unique()

Index(['grant_id', 'project_active_grant', 'project_approved',
       'project_address', 'project_title', 'project_website',
       'project_decription', 'project_created_at', 'project_round',
       'project_long_id', 'project_status', 'project_last_modify',
       'project_application_round', 'project_last_update',
       'project_contract_id', 'project_github_user', 'project_github',
       'project_twitter', 'project_funding_source', 'project_team_size',
       'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_github_twitter_credential',
       'project_github_org_link'],
      dtype='object')

In [80]:
df_application.shape

(1132, 25)

In [81]:
print(df_unicef_applications.shape)
print(df_fantom_applications.shape)
print(df_gr15_applications.shape)

(12, 16)
(107, 21)
(808, 9)

In [82]:
df_application.head(2)

,grant_id,project_active_grant,project_approved,project_address,project_title,project_website,project_decription,project_created_at,project_round,project_long_id,...,project_github_user,project_github,project_twitter,project_funding_source,project_team_size,live_on_other_chains,project_value,project_improvements_to_existing,project_github_twitter_credential,project_github_org_link
0,6841,False,False,0xDc4C1D5D42f829dfd4b772d3a678CfB178ee6476,4C Labs,https://gitcoin.co/grants/6841/4c-labs,Project Core:\r\n\t4C hopes to become the Brid...,2022-06-24T03:39:54.292-06:00,GR15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6842,True,True,0xCE41b49d28800De3Ba9925f68D82129dFc4b870B,C# library for accessing NFTs on mobile devices,https://gitcoin.co/grants/6842/c-library-for-a...,This is a lightweight open source C# library t...,2022-06-24T07:41:41.000-06:00,GR15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df_application.columns

Index(['grant_id', 'project_active_grant', 'project_approved',
       'project_address', 'project_title', 'project_website',
       'project_decription', 'project_created_at', 'project_round',
       'project_long_id', 'project_status', 'project_last_modify',
       'project_application_round', 'project_last_update',
       'project_contract_id', 'project_github_user', 'project_github',
       'project_twitter', 'project_funding_source', 'project_team_size',
       'live_on_other_chains', 'project_value',
       'project_improvements_to_existing', 'project_github_twitter_credential',
       'project_github_org_link'],
      dtype='object')

In [84]:
df_application.isna().sum()

grant_id                                0
project_active_grant                  324
project_approved                      324
project_address                         0
project_title                           1
project_website                         1
project_decription                      3
project_created_at                      0
project_round                           0
project_long_id                       808
project_status                        808
project_last_modify                   808
project_application_round             809
project_last_update                   809
project_contract_id                   809
project_github_user                   938
project_github                        962
project_twitter                       833
project_funding_source                823
project_team_size                     820
live_on_other_chains                 1025
project_value                        1025
project_improvements_to_existing     1098
project_github_twitter_credential     983
project_github_org_link              1007
dtype: int64

In [85]:
df_contribution.columns

Index(['ctbt_id', 'ctbt_token', 'ctbt_amount', 'ctbt_address',
       'project_address', 'ctbt_timestamp', 'project_round', 'checkout_type',
       'ctbt_amount_in_usd', 'raw_amount_in_token', 'ctbt_tx_hash',
       'ctbt_modified_on'],
      dtype='object')

In [86]:
project_amount_received = df_contribution.groupby('project_address').ctbt_amount_in_usd.sum()
project_contributor_count = df_contribution.groupby('project_address').ctbt_address.nunique()
project_contribution_count = df_contribution.groupby('project_address').ctbt_id.count()

In [87]:
ctbt_stats = pd.concat([project_amount_received, project_contributor_count, project_contribution_count], axis=1).reset_index().rename(columns={'index' : 'project_address', 'ctbt_amount_in_usd' : 'project_amount_received', 'ctbt_address' : 'project_contributor_count', 'ctbt_id' : 'project_contribution_count'})
df_application = df_application.merge(ctbt_stats, how='left', on='project_address')
df_application.shape

(1132, 28)

In [88]:
df_application[df_application.project_amount_received.isna()].project_address.unique().size

699

In [89]:
# verify those address are not in contirbution data
address_no_fund = df_application[df_application.project_amount_received.isna()].project_address.unique()
address_ctbt = df_contribution.project_address.unique()
for adr in address_no_fund:
    if adr in address_ctbt:
        print(adr)

In [90]:
# replace nan with 0 on columns project_amount_received, project_contributor_count, project_contribution_count
df_application.project_amount_received.fillna(0, inplace=True)
df_application.project_contributor_count.fillna(0, inplace=True)
df_application.project_contribution_count.fillna(0, inplace=True)

In [91]:
df_application.isna().sum()

grant_id                                0
project_active_grant                  324
project_approved                      324
project_address                         0
project_title                           1
project_website                         1
project_decription                      3
project_created_at                      0
project_round                           0
project_long_id                       808
project_status                        808
project_last_modify                   808
project_application_round             809
project_last_update                   809
project_contract_id                   809
project_github_user                   938
project_github                        962
project_twitter                       833
project_funding_source                823
project_team_size                     820
live_on_other_chains                 1025
project_value                        1025
project_improvements_to_existing     1098
project_github_twitter_credential     983
project_github_org_link              1007
project_amount_received                 0
project_contributor_count               0
project_contribution_count              0
dtype: int64

664 projects did not received any fund

In [92]:
df_application.to_csv('../data/grants/df_application_normalized.csv', index=False)